.container {
  display: flex;
  overflow: hidden;
  color: #000;
  border-radius: 5px;
}

.container > div {
  height: 25vh;
}

.container > div:first-child {
  flex-basis: 35%;
  position: relative;
}

.container > div:last-child {
  flex-basis: 65%;
  padding: 0 20px;
}

.date {
  font-weight: bold;
  color: grey;
}

.address {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.address svg {
  width: 1.25rem;
  height: 1.25rem;
  color: #666666;
}

.container address {
  margin: 0.5rem 0;
  color: #666666;
  white-space: pre;
}

.link {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  text-decoration: underline;
  color: blue;
  font-weight: bold;
}

.link a {
  display: block;
}

.link a span {
  vertical-align: middle;
}
