.filter {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  padding: 0.8rem;
  background-color: aquamarine;
  color: #000;
  font-weight: bold;
  border-radius: 0.3rem;
}

.filter > div {
  flex-basis: 33.3333333%;
}

.filter > div > select {
  margin: 0 0.5rem;
  justify-self: center;
}

.find-event > button {
  width: 100%;
}
